<template>
  <div class="hello">
    <h1>Hola UIP </h1>
    <Prueba/>
  </div>
</template>

<script>
import Prueba from './Prueba.vue'
export default {
  name: 'hola',
  components: {
    Prueba
  }
}
</script>
