<template>
  <div id="app">
      <h1>Practica de Inventario de Libros</h1>
      <!-- <Visualizar/> -->
      <producto/>
  </div>
</template>

<script>
import Hola from './components/HelloWorld.vue'
import Visualizar from './components/Visualizar.vue'
import Producto from './components/Producto.vue'

export default {
  name: 'app',
  components: {
    Visualizar,
    Producto
  }
}
</script>

<style>

</style>
